<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.food">

    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许对sd卡进行读写操作-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CategotyActivity" />
        <activity android:name=".view.activity.GourmetDetailsActivity" />
        <activity android:name=".view.activity.ImagerActivity" />
        <activity android:name=".view.activity.ChoseClassActivity" />
        <activity android:name=".view.activity.ImageCompressActivity" />

        <service
            android:name=".services.AidlTestAService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.li.food.services.AidlTestAService" />
            </intent-filter>
        </service>

        <activity android:name=".view.activity.AidlTestActivity"></activity>
    </application>

</manifest>